.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
   background: #e6f7ee;
}

table {
    min-width: 100%;
    min-height: 100px;
    border-collapse: collapse;
    color: blue;
}

th, td {
    border: 1px solid rgb(219, 223, 220);
    padding: 12px;
    text-align: left;
    background: rgba(248, 233, 255, 0.7);
    vertical-align: top;  
}

th {
    background-color: rgb(81, 251, 186);
    color: rgb(0, 7, 104);
    text-align: center;
}
.title-line{
    position: absolute;
    top: 40px;
    left: 0;
    content: "";
    width: 500px;
    height: 1px;
    background: #f3f0f0;
}
